<% include partials/header %>

<div class="ui main text container segment">
    <h4 class="ui dividing huge header">Create a new blog</h4>
    
    <form action="/blogs" method="POST" class="ui form">
        <div class="field">
            <label for="title">
                What's this blog about?
            </label>
            <div class="form-input">
                <input id="title" name="blog[title]" placeholder="blog title" required>
                <span class="error"></span>
            </div>
        </div>
        <div class="field">
            <label for="img-src">
                Have an image?
            </label>
            <div class="form-input">
                <input id="img-src" name="blog[image]" placeholder="Enter image scr">
                <span class="error"></span>
            </div>
        </div>
        <div class="field">
            <label for="body">
                What does it say?
            </label>
            <div class="form-input">
                <textarea id="body" name="blog[body]" required></textarea>
            </div>
        </div>
        <button class="ui black button" onclick="formSubmit(event);">Submit</button>
    </form>
</div>

<% include partials/footer %>
<script type="text/javascript" src="/js/form.js"></script>